<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>OpenAlias Web</title>
    
    <link rel="stylesheet" href="/assets/spectre/spectre.min.css">
    <link rel="stylesheet" href="/assets/spectre/spectre-exp.min.css">
    <link rel="stylesheet" href="/assets/spectre/spectre-icons.min.css">
    
    <link rel="stylesheet" href="/assets/oa.css">
  </head>
  <body>
    <div id="openalias-web" class="off-canvas">
      <div>
        <h1 class="header">OpenAlias web</h1>
        <h2>Using <a href="https://openalias.org/">OpenAlias</a> to create your tipping page</h2>

        <p>
        Simply setup your OpenAlias DNS records and get your page on {{host}}/[YOUR FQDN]
        </p>
        <form id="fqdn-form" onsubmit="document.location = '{{host}}/' + document.getElementById('fqdn').value;return false;">
          <div class="input-group">
            <span class="input-group-addon addon-lg">{{host}}/</span>
            <input class="form-input input-lg" type="text" id="fqdn" placeholder="Your Domain">
            <button class="btn btn-primary input-group-btn btn-lg" onclick="document.location = '{{host}}/' + document.getElementById('fqdn').value;">Go</button>
          </div>
        </form>
        Example: <a href="{{host}}/donate@getmonero.org">{{host}}/donate@getmonero.org</a>
      </div>
    </div>
  </body>
</html>
